//@import '../../node_modules/ng2-spinning-preloader/dist/ng-spinning-preloader.css';
@import 'dist/ng-spinning-preloader.css';
$roboto-font-path: "dist/fonts/roboto/";
$fa-font-path: "dist/fonts/font-awesome";
@import '../../../node_modules/font-awesome/scss/font-awesome';
@import '../../../node_modules/materialize-css/sass/components/_color';
$color-theme: 'red';
$font-color: 'white';
$primary-color: color($color-theme, "darken-3") !default;
$primary-color-light: darken($primary-color, 25%) !default;
$primary-color-dark: darken($primary-color, 45%) !default;
$secondary-color: color($color-theme, "darken-1") !default;
$highlight-color: color($color-theme, "lighten-5") !default;
$font-color: color($font-color, "normal");
$link-color: color($font-color, "normal") !default;
$footer-font-color: $font-color !default;
$footer-copyright-font-color: $font-color !default;
$navbar-font-color: $font-color !default;
$sidenav-font-size: 14px !default;
$sidenav-font-color: $font-color !default;
$sidenav-bg-color: $primary-color !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;
app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 15px;
}

$roboto-font-path: "dist/fonts/roboto/";
@import '../../../node_modules/materialize-css/sass/materialize';
a {
    color: color($color-theme, 'lighten-3') !important;
    font-weight: bold;
}

.spinning-preloader-container>.spinning-preloader-elements:after {
    border-top-color: #000 !important;
}

.spinning-preloader-container>.spinning-preloader-elements:before {
    border-top-color: #696969 !important;
}

.spinning-preloader-container>.spinning-preloader-elements {
    border-top-color: #da222b !important;
}

#sidenav-overlay {
    z-index: 3000 !important;
}

.side-nav {
    z-index: 3050 !important;
}