<!--<footer class="md-scroll-shrink">
    <md-toolbar class="md-medium-tall">
        <div layout="row" layout-align="center center" flex>
            <span>FOOTER</span>
        </div>
    </md-toolbar>
</footer>-->


<div class="container" fxLayout="column">
    <header>
        <md-toolbar>
            <div>
                <img src="../assets/logo-brscan.png" />
            </div>
            <div class="">
                <!--<img src="../assets/supervisor.gif" />-->
            </div>
        </md-toolbar>
    </header>
    <div fxFlex="1">
        <router-outlet></router-outlet>
    </div>
    <footer>
        This is the footer
    </footer>
</div>